@import "tailwindcss";

@theme {
    --color-nightmare: oklch(0.1448 0 0);
    --color-abysm: oklch(0.1344 0 0);
    --color-night: oklch(0.2478 0 0);
    --color-screamin-green: oklch(0.7704 0.2132 139.77);
    --color-eerie-black: oklch(0.3171 0 0);
}
